:root {
  --border-radius: 7px;
  --color-bright: 232, 102, 236;
  --color-dark: 51, 57, 64;
  --color-light: white;
}

* {
  box-sizing: border-box;
  color: rgb(var(--color-bright));
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(var(--color-dark));
}

header h1 {
  font-size: 300%;
}

header p {
  color: var(--color-light);
  width: 80%;
  margin-bottom: 50px;
}

main {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

section {
  border: 2px dashed var(--color-light);
  width: 32%;
  min-height: 100px;
  margin-bottom: 40px;
}

section:hover,
section:hover h2 {
  transition: all 0.3s ease-in-out;
  box-shadow: inset 0px 0px 8px
  rgb(var(--color-bright)), 0 0 15px
  rgb(var(--color-bright));
}

section h2 {
  background-color: rgb(var(--color-dark));
  border-radius: rgb(var(--border-radius));
  border: 2px solid var(--color-light);
  font-size: 200%;
  position: relative;
  margin-top: -20px;
  width: 90%;
}

section p {
  align-self: flex-start;
  margin-top: 10px;
  padding: 0 10px;
}

section pre {
  background: linear-gradient(rgba(var(--color-bright), 0.3) 0%, rgba(var(--color-bright), 0.6) 100%);
  border-radius: var(--border-radius);
  height: 100%;
  width: 95%;
  margin: 0.8em;
  padding: 10px 0;
}

pre code {
  color: var(--color-light);
}

/* class selector */
.flexbox {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.item-center {
  align-items: center;
}

/* Footer */
footer {
  margin-top: 35px;
  font-size: 150%;
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  section {
    flex-direction: column;
    align-items: center;
    width: 48%;
  }
}

@media screen and (max-width: 768px) {
  section {
    width: 95%;
  }
}